nav {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 18px 8%;
    justify-content: baseline;
    justify-content: space-between;
    gap: 10px;
    /* background-color: rgb(223, 25, 25);
    display: flex;
    justify-content: center;
    justify-content: baseline;
    justify-content: space-between;
    gap: 10px; */
}

ul {
    background-color: white;
    /* display: flex; */
    list-style: none;
    gap: 20px;
}

nav ul{
    display: flex;
}

a {
    text-decoration: none;
    color: #575757;
}

button {
    width: 150px;
    padding: 10px 0%;
    background-color: #1D4ED8;
    border-radius: 5px;
    text-decoration-line: calc(white);
    color: white;

}

header {

    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;

    /* text-align: center; */
    /* margin: 50px; */
    /* padding: auto;
    position: relative;
    top: 50px; */
}

.header-content h1 {
    color: rgb(251, 253, 255);
    /* font-style: italic; */
    text-align: center;
    /* display: grid; */
    margin-bottom: 10px;
    /* gap: 0px; */
    /* margin-top: -300px; */
}


.header-content p{
    text-align: center;
}


.italic-text {
    font-style: italic;
}

p {
    color: #FFFFFF;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 50px;

}

.header-content button {
    height: 50px;
    width: 200px;
    text-align: center;
}

.header-content button {
    margin-top: 270px;
    width: 250px;
    background-color: #1D4ED8;
    /* display: flex; */
    /* justify-content: end; */

}

button {
    display: block;
    margin: auto;
}

/* .background-image{



    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgb(31, 9, 9);
} */



.header-content button {
    color: white;
    /* border: none; */
    padding: 12px 20px;
    text-align: center;
    align-items: center;
}

/* .left-sid{
    display: grid;
    display: flex;
    gap: 30px;
    align-items: center;

} */

.image-section {
    text-align: center;
    padding-top: 50px;
}

.first h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image-container img {
    width: 400px;
    height: 370px;
    object-fit: cover;
    gap: 200px;
    /* border-radius: 10px; */
}

/* .image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
} */

.first {
    text-align: center;
    margin-bottom: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-section {
    padding: 80px 50px;
}

.first h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    margin-bottom: 60px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 1400px;
    margin: auto;
    /* justify-content: center; */
    align-items: center;
}

.Speaker-card p{
    /* display: flex; */
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}

.Speaker-card p{
    text-align:left !important;
    margin-top: 30px;

}

.Speaker-card p{
    position: relative;
    top: 30px;
}


.Speaker-card {
    background: white;
    border: 2px solid#e5e5e5;
    border-radius: 20px;
    overflow: hidden;
    width: 100;
    max-width: 550;
    text-align: left;
}


.Speaker-card img {
    width: 100%;
    height: 350px;
    /* height: 380px; */
    object-fit: cover;
    display: block;
}

/* .content h3{
    font-size: 32px;
    margin-bottom: 18px;
    padding: 30px;
    text-align: left;
} */

.content {
    font-size: 30px;
    text-align: left;
}

.content h3 {
    font-size: 32px;
    margin-bottom: 18px;
    margin-left: 20px;
    /* padding: 20px 40px; */
}

.content p {
    color: #575757;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
}

.tag {
    display: inline-block;
    background: #eef5ff;
    color: #006fde;
    padding: 8px 15px;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

/* .content{
    display: flex;
    justify-content: center;
    text-align: justify;
    text-align: left;
} */

.content h1,
.pcontent {
    text-align: center;
}

.content p {
    text-align: center;
    margin-top: 2px;
}

/* .cart-container .cort {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
} */

.cart-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.cart day{
        display: flex;
    flex-direction: column;
    height: 550px;
}

.cart {
    width: 320px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: white;
    text-align: left;
}

.plan {
    color: grey;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.cart h1 {
    font-size: 60px;
    margin-top: 11px;
    /* margin-bottom: 5px; */
}

.price-text {
    color: grey;
    margin-bottom: 25px;
}

.cart ul {
    padding-left: 24px;
    /* margin-bottom: 30px; */
    list-style: outside;
}

.cart li {
    margin-bottom: 16px;
    /* color: #555; */
}

ul{
    list-style: none;
}
.cart button {
    width: 100%;
    padding: 12px;
    /* background-color: white; */
    border: 1px solid #cbd5e1;
    margin-top: 20px;
    border-radius: 14px;
    background: white;
    color: #2d61cb;
    font-size: 16px;
    cursor: pointer;
}

.day{
    width: 100%;
    height: 32px;
    background: white;
    color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: #2563eb;
    font-weight: 600;
    cursor: pointer;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}


.cart button:hover{
    background: #000000;
    color: white;
}

.title{
    text-align: center;
    margin-bottom: 50px;
}

/* .cart{
    background: white;
} */

.featuret{
    background-color: #000000;
    color: white;
}

.featuret .plan,
.featuret .price-text,
.featuret li{
    color: #FFFFFF;
    /* background-color: #000000; */
}

.featuret ul,
.featuret li{
    background: transparent;
}

.plan, p{
    text-align: left;
}

.featuret button{
    background: #2563EB;
    color: white;
    /* background: none; */
}

.as-box{
    background: #04162d;
    padding: 35px 7%;

    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.as-box p,
.as-box a{
    color: #6b7280;
    font-size: 14px;
    text-decoration: none;
}

.as-links{
    display: flex;
    gap:20px;
}

.title p{
    color: grey;
    margin-bottom: 10px;
    text-align: center;
}



.innovation-section{
    padding: 100px 8%;
    background: #f8fafc;
    text-align: center;
}

/* Title */

.innovation-title h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.innovation-title p{
    width: 60%;
    margin: auto;
    color: #64748b;
    line-height: 1.8;
    font-size: 18px;
}

/* Stats */

.stats-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 70px;
}

.stat-card{
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,.08);
}

.stat-card h2{
    color: #2563eb;
    font-size: 45px;
    margin-bottom: 10px;
}

.stat-card p{
    color: #64748b;
}

/* Cards */

.innovation-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}

.innovation-card{
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,.08);
    transition: .4s;
}

.innovation-card:hover{
    transform: translateY(-10px);
}

.icon{
    font-size: 55px;
    margin-bottom: 20px;
}

.innovation-card h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.innovation-card p{
    color: #64748b;
    line-height: 1.8;
}

/* Middle Card */

.featured{
    background: #2563eb;
    color: white;
    transform: scale(1.05);
}

.featured p{
    color: white;
}

.featured h3{
    color: white;
}

/* Button */

.innovation-btn{
    display: block;
    margin: 70px auto 0;
   padding: 10px 35px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.innovation-btn:hover{
    background: #1d4ed8;
}

/* Responsive */

@media(max-width:768px){

    .stats-container,
    .innovation-cards{
        grid-template-columns: 1fr;
    }

    .innovation-title h1{
        font-size: 35px;
    }

    .innovation-title p{
        width: 100%;
    }

    .featured{
        transform: scale(1);
    }
}